@model TipOfTheDay.Domain.Entities.Tip

@{
    ViewBag.Title = "Edit Tip: "  + @Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Tip:  @Model.Title</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <h3>Tags</h3>
    @Html.ListBox("TagList", ViewBag.TagList as MultiSelectList)
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")

}